* { 
    margin: 0; 
    padding: 0; 
}

[class*='child'] { 
    visibility: hidden; 
}

[class*='dad'] { 
    cursor: pointer;
}

[class*='dad'] rect {
    fill: #F5850B !important;
    stroke: #F5850B !important;
}

.node div {
    font-weight: bold;
    font-size: 13px;
}

.node span {
    color: #191847 !important;
}

.endNode rect {
    fill: #191847 !important;
    stroke: #191847 !important;
}

.endNode div {
    color: #FFFFFF;
}

.node.endNode span {
    color: #FFFFFF !important;
}

[class*='dad'] div {
    color: #FFFFFF !important;
}

.edgePath {
    visibility: hidden;
}

.mermaid { 
    visibility: hidden; 
}

.mermaid svg { 
    display: block; 
    margin: 0 auto; 
}

header { 
    width: 100%; 
    background-color: #CCC; 
    display: none; 
}

.loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: rgb(245, 133, 11);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}